{% extends "layout.twig" %}

{% block content %}

<div class="featureimage">
  {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true, 'align':'justifycenter'})|raw}}
  <header class="bk-header">
    <div class="header-container wrapper clearfix">
      <div class="companyheader clearfix">
          {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
          {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
      </div><!--end companyheader-->
      {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
    </div><!--end header-container-->
  </header>
</div><!--end featureimage-->

<div class="scroll-button">
  {{widget('button', 'anchor', {text:'button', 'align':'widget-align-center'})|raw}}
</div>

<div role="main" id="main">
  <div class="wrapper clearfix">
    {{zone('main')|raw}}
  </div><!--end wrapper clearfix-->
</div><!--end main-->

<footer class="bk-footer">
    <div class="wrapper clearfix">
      {{widget('content', 'footer', {content: 'Copyright. 2014', lines: 'all'})|raw}}
    </div><!--end wrapper clearfix-->
</footer>

{% endblock %}